// variable
$maincolor: #014750;
$rgba_bg: rgba(0, 0, 0, 0.4);
$pc_w: 1320px;
$tablet_w: 768px;
$mobile_w: 480px;
$m_border: 1px solid #ddd;

// mixin

@mixin mobile {
  @media (max-width: #{$mobile_w}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet_w}) {
    @content;
  }
}

@mixin sec {
  padding: 100px 0;

  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
    color: $maincolor;
  }

  @include tablet {
    h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 50px;
      color: $maincolor;
    }
  }
}

@mixin inner {
  width: $pc_w;
  margin: 0 auto;

  @include tablet {
    width: auto;
    margin: 0 15px;
  }

  @include mobile {
    width: auto;
    margin: 0 15px;
  }
}

@mixin background($url) {
  background: $url;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin btn {
  background: transparent;
  border: none;
  outline: none;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

@mixin row($display: flex, $gap: 0) {
  display: $display;
  gap: $gap;
}

@mixin position($position, $inset, $tranX, $tranY, $zindex) {
  position: $position;
  inset: $inset;
  transform: translate($tranX, $tranY);
  z-index: $zindex;
}

@mixin event_op($opacity, $visibiliy) {
  opacity: $opacity;
  visibility: $visibiliy;
}

@mixin img($height) {
  object-fit: cover;
  width: 100%;
  height: $height;
}

@mixin itm($height) {
  padding: 10px;
  border: $m_border;
  border-radius: 10px;

  .img_case {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      @include img($height);
    }
  }
}

@mixin dots {
  margin-top: 10px;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 8px;
    background: #ddd;

    border-radius: 50%;

    &.slick-active {
      background: $maincolor;
    }

    button {
      @include btn;
      display: block;
      width: 15px;
      height: 15px;
      font-size: 0;
      padding: 0;
    }
  }
}

@mixin search_box {
  form {
    background: #f9f9f9;
    width: 600px;
    line-height: 60px;
    border-radius: 30px;
    padding: 0 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: #555;
    font-size: 20px;

    > * {
      @include btn;
      vertical-align: -1px;
    }

    input {
      font-size: 18px;
      font-weight: 300;
      width: 500px;
    }
  }
  @include tablet {
    form {
      width: 500px;
      input {
        width: 400px;
      }
    }
  }

  @include mobile {
    form {
      width: 300px;
      padding: 0 20px;
      input {
        width: 230px;
      }
    }
  }
}

@mixin map_case_st {
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  @include tablet {
  }
  @include mobile {
    #map {
      height: 400px !important;
    }
  }
}
