@import 'basic';
@import 'common';

.Header {
    @include row;
    position: relative;
    padding: 0 100px;
    line-height: 80px;

    h1 {
        margin-right: 35px;
        font-size: 18px;
    }

    .gnb {
        ul {
            @include row;

            a {
                display: block;
                padding: 0 15px;
            }
        }
    }

    .service {
        @include row($gap: 20px);
        margin-left: auto;
        font-size: 20px;

        * {
            @include btn;
            line-height: 80px;
        }

        input {
            border-bottom: 1px solid #343434;
            line-height: 30px;
            font-size: 16px;
            margin-right: 10px;
        }

    }
}

.MainVisual {
    padding-top: 20px;

    .inner {
        .map_case {
            @include inner;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0 0 20px #999;
        }
    }
}

.MainSlideList {
    @include sec;

    h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .inner {
        width: calc(50% + 660px);
        margin-left: auto;
        @include row($gap: 50px);

        * {
            overflow: hidden;
            flex: 1;
        }
    }
}